/* eliminate the list styling  */
li{
    list-style:none;
}

.menu a{
  color:green;
    text-decoration: none;
}
footer a{
    color:black;
    text-decoration: none;
}
 #Home{
     background-color: whitesmoke;
     border: solid 1px ;
 }
 #Home h1, #Home p, #Home img{
     display: inline;
 }
 h1{
    color:rgb(15, 129, 129)
}
 .Home{
     color: red;
 }

img{
    border-radius: 100%;
}
li{
    display: inline;
    background-color: antiquewhite;
    margin: 20px;
}
nav li {
    color:green 
}

li:hover{
    background-color: grey;
    padding: 5px;
}